
h1 {
    color: pink;
    background-color: green;
    border: 1px solid black;
    
  }
  
  
  p{
    color: red;
  }
  img {
      max-width:100%;
      height:auto;
    position: center;
    display: block;
    margin: 0 auto;
  
  }